{% extends 'base.html.twig' %}

{% block title %}New Zamowienie{% endblock %}

{% block body %}
    <h1>Create new Zamowienie</h1>
    {{ include('zamowienie/_form.html.twig') }}


    <a href="{{ path('app_zamowienie_index') }}">back to list</a>
{% endblock %}
